<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RhinoSlic3r.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RhinoSlic3r.Properties.Settings>
            <setting name="Layer_height" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="PrintSettings" serializeAs="String">
                <value>Select</value>
            </setting>
            <setting name="Support" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfillDensity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="InfillPattern" serializeAs="String">
                <value>Honeycomb</value>
            </setting>
            <setting name="SolidInfillPattern" serializeAs="String">
                <value>Rectilinear</value>
            </setting>
            <setting name="Vase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gcodedir" serializeAs="String">
                <value>C:\Kinematiq\RhinoSlic3r\Temp</value>
            </setting>
        </RhinoSlic3r.Properties.Settings>
    </userSettings>
</configuration>